main {
  min-height: 80vh;
}
.navbar-collapse {
  justify-content: space-between;
}

.product-title {
  text-decoration: none !important;
  color: #333 !important;
}
.product-title:hover {
  text-decoration: underline !important;
}
.ant-rate-star:not(:last-child) {
  margin-right: 2px !important;
}
.btn:focus {
  box-shadow: none !important;
}
