main {
  min-height: 80vh;
}
.navbar-collapse {
  justify-content: space-between;
}
h1 {
  font-size: 1.8rem !important;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem !important;
  padding: 0.5rem 0;
}

.product-title {
  text-decoration: none !important;
  color: #333 !important;
}
.product-title:hover {
  text-decoration: underline !important;
}
.cart-title:hover {
  color: white !important;
}
.ant-rate-star:not(:last-child) {
  margin-right: 2px !important;
}
.btn:focus {
  box-shadow: none !important;
}
.ant-result-info .ant-result-icon > .anticon {
  color: black !important;
}
.ant-message-custom-content {
  display: flex;
  align-items: center;
}
